 <!-- FORMULARIO DE BUSQUEDA -->

 <div class="param d-flex">
    <div class="col-lg-6 titulo-secc-buscar">
        Biblioteca
    </div>
    <!-- <br> -->
    <!-- CREAR canpaña -->
    <div class="col-lg-6  col-md-2 col-sm-2 btn-crear-campana">
        <div class="col-lg-5">
            <button class="btn btn-danger btn-fuente btn-block color-rojo-Claro btn-sm"
                >
                busqueda1
            </button>
        </div>
    </div>
</div>
<br>
<div class="col-lg-12 campana-border">
    <form class="form-inline field-set form-busqueda" [formGroup]="formularioBusqueda">

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Categoria</label>
        <div class="col-sm-6">
            <select id="inputStateEstado" class="form-control" formControlName="categoria">
              <option [value]="item" *ngFor="let item of categoria" selected>{{item.viewValue}}</option>
            </select>
        </div>
    </div>

        <!-- <div class="flex-container mb-3">
            <div class="flex-item campanas-margin-lef">
                <label>Categoria</label>
                <select class="form-control w-100 " formControlName="categoria">
                    <option [value]="item" *ngFor="let item of categoria" selected>{{item.viewValue}}</option>

                </select>
            </div> -->
            <!-- <div class="flex-item  ">
                <label>Estado:</label>
                <select class="form-control w-100 " formControlName="estado">
                    <option value="" selected>{{ Seleccione estado }}</option>
                    <option selected value=0>{{ Activo }}</option>
                    <option value=1>{{ InActivo }}</option>
                </select>
            </div> -->

            <!-- <div class="flex-item  ">
                <label>{{ Titulo }}</label>
                <input type="text " placeholder="titulo" formControlName="tituloLibro"
                    class="form-control w-100 " />
            </div>

            <div class="form-group flex-item">
                <label>Fechas:</label>
                <div class=" bloques">
                    <mat-form-field color="warn" appearance="standard"
                        class="text-center d-flex justify-content-start">
                        <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
                            <input matStartDate placeholder="Fecha Inicial" formControlName="fechaInicio">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex-item  ">
                <mat-form-field appearance="fill">
                    <mat-label>Autor</mat-label>
                    <select matNativeControl [(ngModel)]="selectedAutor" name="autor">
                      <option value="" selected></option>
                      <option *ngFor="let autor of autores" [value]="autor.value">
                        {{autor.viewValue}}
                      </option>
                    </select>
                  </mat-form-field>            </div>

        </div>
        <div class="bloques flex-container d-flex mb-3">
            <div class="form-group flex-item ">
                <label>{{ Periodo Maximo }}</label>
                <input type="text " placeholder="Periodo maximo" formControlName="periodoMaximo"
                    class="form-control w-100 " />
            </div>
            <div class="flex-item">
                <div class="display m-1">
                    <button class="btn btn-azul-claro btn-block btn-sm w-100"
                        (click)="buscar(formularioBusqueda.value) ">
                        <i class="fa fa-search texto-blanco p-1 icono"></i>
                        {{ lblBuscar }}
                    </button>
                </div>
                <div class="display m-1">
                    <button class="btn btn-azul-claro btn-block btn-sm" (click)="limpiar() ">
                        <i class="fas fa-trash-undo texto-blanco p-1 icono"></i>
                        {{ lbLLimpiar }}
                    </button>
                </div>
            </div> -->
        <!-- </div> -->
    </form>
</div>
